<!DOCTYPE html>
<html ng-app="dateApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-controller="dateAppController">
<div>
<div>Select date and time in local timezone</div>
<input type="datetime-local" ng-model="selectedDate"/>
<input type="button" ng-click="saveDate()" value="Save"></input>
</div>
<br>
<div>
<label>Recently selected date : {{recentDate}}</label>
</div>
<br>
<div>
<div>select different timezone for recent date</div>
<select ng-model="selectedTimeZone" ng-options="t.abbr for t in timezones" ng-change="changeRecentDateTimeZone()"> </select>
</div>
<br>
</body>
</html>
